@import url("../../common/adaptive");

.block-main {
  height: 100%;
  color: var(--font-color-light);

  &__header {
    width: calcrem(600);
    margin-bottom: calcrem(35);
    font-family: var(--font-heawy);
    font-size: var(--font-size-xxxxxxl);
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1.84px;
    line-height: 90%; /* 82.8px */

    .tablet-screen({
      font-size: calcrem(64);
      width: auto;
    });

    .mobile-screen({
      font-size: calcrem(40);
    });
  }

  &__counter {
    display: flex;
    flex: 1 0 0;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: calcrem(90) 0 calcrem(70) calcrem(210);
    gap: calcrem(30);

    .mobile-screen({
      box-sizing: border-box;
      padding: calcrem(60) 0 calcrem(70) calcrem(170);
      flex-direction: column;
      max-width: calcrem(360);
    });

    &__count-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__count{
      font-family: var(--font-oswald);
      font-size: calcrem(56);
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      .mobile-screen({
        font-size: calcrem(36);
      });
    }

    &__persons {
      font-family: var(--font-light);
      font-size: var(--font-size-xxl);
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      text-align: center;


      .mobile-screen({
        font-size: var(--font-size-m);
      });
    }

    &__text {
      width: calcrem(229);
      font-family: var(--font-light);
      font-size: var(--font-size-xxl);
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      text-align: center;

      .mobile-screen({
        width: auto;
        font-size: var(--font-size-m);
      });
    }
  }


  &__preview {
    display: flex;
    gap: calcrem(69);
    .mobile-screen({
      gap: calcrem(20);
    });

    &__button {
      .mobile-screen({
        display: flex;
        align-items: center;
      });
    }
  }


  &__preview__text {
    font-family: var(--font-light);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 300;
    line-height: 90%;

    .tablet-screen({
      font-size: var(--font-size-xxl);
    });

    .mobile-screen({
      font-size: var(--font-size-l);
    });
  }
}
