@import url("../../common/adaptive");

.block-teachers {
  &__top {
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    margin: 0 auto;
    gap: calcrem(20);

    .mobile-screen({
      gap: calcrem(60);
    });
  }

  &__title {
    margin-bottom: calcrem(90);
    color: var(--font-color-light);
    font-family: var(--font-main);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 900;
    line-height: 90%; /* 43.2px */

    .mobile-screen({
      font-size: var(--font-size-xxxl);
      margin-bottom: calcrem(66);
    });
  }

  &__text {
    width:  calcrem(429);
    margin-bottom: calcrem(90);
    color: var(--font-color-light);
    font-family: var(--font-light);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */

    .mobile-screen({
      font-size: var(--font-size-m);
      margin-bottom: calcrem(66);
    });
  }

  &__cards {
    display: flex;
    overflow: hidden;
    flex-flow: row nowrap;
    gap: calcrem(10);

    .mobile-screen({
      overflow-x: scroll;
    });
  }

  &__card {
    z-index: 1;
    width: calcrem(240);
    min-width: calcrem(240);
    border-radius: var(--border-radius-default);
    cursor: pointer;
    transition: scale 0.3s ease-in-out;

    .mobile-screen({
      width: calcrem(192);
      min-width: calcrem(192);
    });

    &:hover {
      z-index: 2;
      background: var(--color-danger);
      scale: 1.2;

      .mobile-screen({
        scale: 1.1;
      });
    }

    &__image {
      width: calcrem(240);
      height: calcrem(240);
      border-radius: var(--border-radius-default);
      background: lightgray 50% / cover no-repeat;

      .mobile-screen({
        width: calcrem(192);
        height: calcrem(192);
      });
    }

    &__title {
      margin-bottom: calcrem(10);
      color: var(--font-color-light);
      font-family: var(--font-main);
      font-size: var(--font-size-xxl);
      font-style: normal;
      font-weight: 700;
      line-height: 90%;/* 28.8px */

      .mobile-screen({
        font-size: calcrem(19);
      });
    }

    &__text {
      color: var(--font-color-light);
      font-family: var(--font-light);
      font-size: var(--font-size-l);
      font-style: normal;
      font-weight: 400;
      line-height: 90%; /* 16.2px */

      .mobile-screen({
        font-size: var(--font-size-s);
      });
    }

    &__info {
      padding: calcrem(32) calcrem(36) calcrem(36);
      color: var(--font-color-light);
    }
  }

  &__modal {
    display: flex;
    color: var(--font-color-light);
    gap: calcrem(53);

    .mobile-screen({
      flex-direction: column;
    });

    &__image {
      width: calcrem(409);
      height: calcrem(409);
      border-radius: calcrem(36);
      margin-bottom: calcrem(40);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      .mobile-screen({
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
      });
    }

    &__title {
      margin-bottom: calcrem(20);
      font-family: var(--font-main);
      font-size: var(--font-size-xxxxl);
      font-weight: 900;
      letter-spacing: 0;
      line-height: 90%;
    }

    &__text {
      font-family: var(--font-light);
      font-size: var(--font-size-xl);
      font-weight: 400;
      letter-spacing: 0;
      line-height: 90%;
    }

    &__description {
      font-family: var(--font-light);
      font-size: var(--font-size-xxl);
      font-weight: 400;
      letter-spacing: 0;
      line-height: 120%;
    }
  }
}
