@import url("../../common/adaptive");

.block-links {
  color: var(--font-color-light);
  font-family: var(--font-ultra-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
  line-height: 90%;
  text-align: center;

  .mobile-screen({
    font-size: var(--font-size-m);
  });

  a {
    color: var(--font-color-light);
    text-decoration-line: underline;
    text-decoration-skip-ink: auto;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
