@import url("../../common/adaptive");

.list {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: var(--border-radius-default);
  gap: calcrem(2);

  &__question {
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    padding: calcrem(20) calcrem(20) calcrem(20) calcrem(30);
    background: var(--color-primary);;
    color: var(--font-color-light);
    cursor: pointer;
    font-family: var(--font-main);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */

    .mobile-screen({
      font-size: var(--font-size-m);
      padding: calcrem(12) calcrem(10) calcrem(12) calcrem(20);
    });

    &::after {
      display: block;
      width: calcrem(20);
      height: calcrem(20);
      padding: calcrem(20);
      background-image: url("../../icons/down.svg");
      background-position: center;
      background-repeat: no-repeat;
      content: '';

      .mobile-screen({
        padding: calcrem(6);
      });
    }

    &_opened {
      background: var(--color-danger);

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__answer {
    overflow: hidden;
    height: 0;
    box-sizing: border-box;
    color: #000;
    font-family: var(--font-light);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
    transition: height 0.3s ease-in-out;

    .mobile-screen({
      font-size: var(--font-size-s);
    });

    &__content {
      padding: calcrem(20) calcrem(20) calcrem(20) calcrem(30);

      .mobile-screen({
        padding: calcrem(12) calcrem(10) calcrem(12) calcrem(20);
      });
    }

    &_opened {
      transition: height 0.3s ease-in-out;
    }
  }
}
