@import url("../../common/adaptive");


.block-partners {
  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: calcrem(40);
  }

  &__title {
    margin-bottom: calcrem(50);
    font-family: var(--font-main);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 900;
    line-height: 90%; /* 43.2px */

    .mobile-screen({
      font-size: var(--font-size-xxxl);
      margin-bottom: calcrem(40);
    });
  }

  &__logo {
    width: calcrem(257);
    height: calcrem(90);
    margin-bottom: calcrem(50);
    background-image: url("../../icons/malina-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;

    .mobile-screen({
      min-width: calcrem(130);
      width: calcrem(130);
      height: calcrem(45);
      margin-bottom: calcrem(40);
    });
  }

  &__summary {
    display: block;
    width: 100%;
    margin-bottom: calcrem(70);
    color: var(--font-color-dark);
    font-family: var(--font-light);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */

    .mobile-screen({
      font-size: var(--font-size-m);
      margin-bottom: calcrem(40);
    });
  }

  &__faq-title {
    margin-bottom: calcrem(50);
    color: var(--font-color-dark);
    font-family: var(--font-main);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 900;
    line-height: 90%; /* 43.2px */
    .mobile-screen({
      font-size: var(--font-size-xxxl);
      margin-bottom: calcrem(40);
    });
  }
}
