@import url("../../common/adaptive");

.block-cases {
  &__top {
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    margin: 0 auto;
    gap: calcrem(20);

    .mobile-screen({
      gap: calcrem(80);
    });
  }

  &__title {
    margin-bottom: calcrem(60);
    color: var(--font-color-light);
    font-family: var(--font-main);
    font-size: var(--font-size-xxxxl);
    font-style: normal;
    font-weight: 900;
    line-height: 90%; /* 43.2px */

    .mobile-screen({
      font-size: var(--font-size-xxxl);
      margin-bottom: calcrem(40);
    });
  }

  &__text {
    width:  calcrem(429);
    margin-bottom: calcrem(60);
    color: var(--font-color-light);
    font-family: var(--font-light);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */

    .mobile-screen({
      font-size: var(--font-size-m);
      margin-bottom: calcrem(40);
    });
  }

  &__cards {
    display: flex;
    overflow: hidden;
    flex-flow: row nowrap;
    gap: calcrem(20);

    .mobile-screen({
      gap: calcrem(10);
      overflow-x: scroll;
    })
  }

  &__card {
    position: relative;
    overflow: hidden;
    width: calcrem(360);
    min-width: calcrem(360);
    height: calcrem(360);
    border: calcrem(10) solid #FFF;
    border-radius: var(--border-radius-default);
    background: lightgray 50% / cover no-repeat;
    background-size: cover;
    cursor: pointer;

    .mobile-screen({
      width: calcrem(240);
      height: calcrem(240);
      min-width: calcrem(240);
    });

    &__title {
      margin-bottom: calcrem(10);
      color: var(--font-color-light);
      font-family: var(--font-main);
      font-size: var(--font-size-xxxl);
      font-style: normal;
      font-weight: 700;
      line-height: 90%;/* 28.8px */

      .mobile-screen({
        font-size: var(--font-size-xl);
      });
    }

    &__text {
      color: var(--font-color-light);
      font-family: var(--font-light);
      font-size: var(--font-size-l);
      font-style: normal;
      font-weight: 400;
      line-height: 90%; /* 16.2px */

      .mobile-screen({
        font-size: var(--font-size-xs);
      });
    }

    &__info {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: calcrem(20);
      background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #000 100%);
      color: var(--font-color-light);
    }

    &:hover &__info {
      background: linear-gradient(180deg, rgb(219 25 51 / 0%) 0%, rgb(219 25 51 / 80%) 100%);
    }
  }

  &__modal {
    display: flex;
    color: var(--font-color-light);
    gap: calcrem(53);

    .mobile-screen({
      flex-direction: column;
    });

    &__image {
      width: calcrem(409);
      height: calcrem(409);
      border-radius: calcrem(36);
      margin-bottom: calcrem(40);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;

      .mobile-screen({
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
      });
    }

    &__title {
      margin-bottom: calcrem(20);
      font-family: var(--font-main);
      font-size: var(--font-size-xxxxl);
      font-weight: 900;
      letter-spacing: 0;
      line-height: 90%;
    }

    &__text {
      font-family: var(--font-light);
      font-size: var(--font-size-xl);
      font-weight: 400;
      letter-spacing: 0;
      line-height: 90%;
    }

    &__description {
      font-family: var(--font-light);
      font-size: var(--font-size-xxl);
      font-weight: 400;
      letter-spacing: 0;
      line-height: 120%;
    }
  }
}
