@import url("../../common/adaptive");

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header {
  position: fixed;
  z-index: 200;
  width: 100%;
  min-height: 300px;
  animation: fadeIn 2s ease-in-out forwards;
  background: #0000;
  transition: all 0.2s ease-in-out;

  &_scrolled {
    min-height: 75px;
    backdrop-filter: blur(5px);
    background: rgb(219 25 51 / 80%);
    transition: all 0.4s ease-in-out;
  }

  &__content_centered {
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    padding: 0 100px;
    margin: 0 auto;

    .mobile-screen({
      padding: 0 20px;
    })
  }

  &__logo {
    position: relative;

    &__agu {
      position: absolute;
      top: 130px;
      left: -59px;
      width: 138px;
      height: 20px;
      background: url("../../icons/AGU.svg") no-repeat;
      background-size: contain;
      transition: all 0.3s linear;

      &_scrolled {
        top: 26px;
        width: 99px;
      }

      .mobile-screen({
        top: 86px;
        left: -8px;
        width: 105px;

        &_scrolled {
          top: 26px;
          width: 99px;
          left: 4px;
        }
      });
    }

    &__arcs {
      position: absolute;
      top: 60px;
      left: -27px;
      width: 213px;
      height: 213px;
      background-image: url("../../icons/arcs.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.3s linear;

      &_scrolled {
        top: 14px;
        left: 24px;
        height: 47px;
      }

      .mobile-screen({
        top: 29px;
        width: 149px;
        height: 163px;
        left: 10px;

        &_scrolled {
          top: 14px;
          left: 85px;
          height: 47px;
        }
      });
    }

    &__family {
      position: absolute;
      top: 153px;
      left: 0;
      width: 76px;
      height: 11px;
      background: url("../../icons/family.svg") no-repeat;
      background-size: contain;
      transition: all 0.3s linear;

      &_scrolled {
        top: 43px;
        left: -58px;
        width: 50px;
      }

      .mobile-screen({
        top: 103px;
        left: 37px;
        width: 58px;

        &_scrolled {
          top: 43px;
          left: 4px;
          width: 46px;
        }
      });
    }

    &__forum {
      position: absolute;
      top: 170px;
      left: 29px;
      width: 47px;
      height: 11px;
      background: url("../../icons/forum.svg") no-repeat;
      background-size: contain;
      transition: all 0.3s linear;

      &_scrolled {
        top: 43px;
        left: -6px;
        width: 30px;
      }

      .mobile-screen({
        top: 114px;
        left: 57px;
        width: 36px;

        &_scrolled {
          top: 43px;
          left: 54px;
          width: 29px;
        }
      });
    }
  }

  &__links {
    display: flex;
    height: 70px;
    align-items: center;
    gap: 20px;
  }

  &__link {
    display: block;
    width: 30px;
    height: 38px;

    &_menu {
      background: url("../../icons/burger.svg") no-repeat;
      background-size: contain;
    }

    &_cart {
      background: url("../../icons/cart.svg") no-repeat;
      background-size: contain;
    }

    &_lk {
      background: url("../../icons/lk.svg") no-repeat;
      background-size: contain;
    }
  }
}
