@import url("../../common/adaptive");

.play-button {
  width: calcrem(64);
  height: calcrem(64);
  border: none;
  appearance: none;
  background-color: #0000;
  background-image: url("../../icons/play.svg");
  background-size: calcrem(64);
  cursor: pointer;

  .mobile-screen({
    height: calcrem(40);
    width: calcrem(40);
    background-size: calcrem(40);
  });
}
