@import url("../../common/adaptive");

.page {
  display: flex;
  flex-direction: column;

  &__block {
    position: relative;
    z-index: 0;

    &_main {
      display: flex;
      height: 712px;
      align-items: flex-end;
      background: linear-gradient(90deg, rgb(32 32 32 / 40%) 49.04%, rgb(32 32 32 / 0%) 100%), url("../../images/1-block.png") lightgray 50% / cover no-repeat;

      .mobile-screen({
        align-items: flex-start;
        height: auto;
      });
    }

    &_links {
      background: #DB1933;
    }

    &_offer {
      overflow: hidden;

      &::after {
        position: absolute;
        top: -80px;
        right: -320px;
        display: block;
        width: 100%;
        height: 600px;
        background-color: #202020;
        background-repeat: no-repeat;
        content: ' ';
        mask-image: url("../../icons/big-arcs-4back.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 600px, 600px;
        pointer-events: none;
      }
    }

    &_welcome {
      /* Чтобы шум не убегал за границы блока */
      overflow: hidden;
      height: 344px;
      background:  url("../../images/3-block(VIDEO).png") lightgray 50% / cover no-repeat;
    }

    &_cases {
      background: #78516C;
    }

    &_teachers {
      background: #202020;
    }

    &_review {
      background: #202020;
    }

    &_video {
      background: #202020;
    }

    &_footer {
      position: relative;
      background-color: #DB1933;


      &::after {
        position: absolute;
        top:0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #ffffff1a;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 45% 100%;
        content: ' ';
        mask-image: url("../../icons/big-arcs-4back.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: 60%, 60%;
        pointer-events: none;
      }
    }

    &_bottom {
      background-color: #202020;
    }
  }

  &__content {
    padding: 70px 100px;

    .mobile-screen({
      padding: 30px 40px;
    });

    &_centered {
      max-width: 1024px;
      margin: 0 auto;
    }

    &_small {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      padding: 20px 10px;
      gap: 10px;
      .mobile-screen({
        padding: 20px 40px;
      });

    }

    &_video {
      padding: 10px 0;
    }
  }
}
