@import url("../../common/adaptive");

.horizontal-scroll {
  position: relative;

  &__cards {
    padding: calcrem(50);
    margin:  calcrem(-50)  calcrem(-100);

    .mobile-screen({
      margin:  calcrem(-50)  calcrem(-30);
    });
  }

  &__control {
    position: absolute;
    z-index: 100;
    top: calc(50% - calcrem(64));
    width: calcrem(64);
    height: calcrem(64);
    padding: calcrem(20);
    background-image: url("../../icons/down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: calcrem(64);
    opacity: 0.5;

    .mobile-screen({
      display: none;
    });

    &:hover {
      opacity: 1;
    }

    &_right {
      right: 0;
      transform: rotate(-90deg);
    }

    &_left {
      left: 0;
      transform: rotate(90deg);
    }
  }
}
