@import url("../../common/adaptive");

.spoiler {
  &__title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: HelveticaNeueCyr-Light, sans-serif;
    font-size: 22px;
    font-weight: 550;
    gap: 10px;
    letter-spacing: 0;
    line-height: 120%;
    text-align: center;


    &::before {
      display: inline-block;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      background-color: #202020;
      background-repeat: no-repeat;
      content: ' ';
      cursor: pointer;
      mask-image: url('../../icons/down.svg');
      mask-position: center;
      mask-repeat: no-repeat;

      .mobile-screen({
        padding: 6px;
      });
    }

    &_opened {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;

    &_opened {
      height: auto;
    }
  }
}
