@import url("../../common/adaptive");

.spoiler {
  &__title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: var(--font-light);
    font-size: var(--font-size-xl);
    font-weight: 550;
    gap: calcrem(10);
    letter-spacing: 0;
    line-height: 120%;
    text-align: center;


    &::before {
      display: inline-block;
      width: calcrem(32);
      height: calcrem(32);
      box-sizing: border-box;
      background-color: var(--color-secondary);
      background-repeat: no-repeat;
      content: ' ';
      cursor: pointer;
      mask-image: url('../../icons/down.svg');
      mask-position: center;
      mask-repeat: no-repeat;

      .mobile-screen({
        padding: calcrem(6);
      });
    }

    &_opened {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;

    &_opened {
      height: auto;
    }
  }
}
