@import url("../../common/adaptive");

.block-welcome {
  position: relative;
  z-index: 2;
  display: flex;
  min-height: calcrem(340);
  justify-content: space-between;

  .mobile-screen({
    min-height: calcrem(120);
  });

  &__text {
    display: flex;
    width: 503.5px;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    color: var(--font-color-light);
    font-family: var(--font-main);
    font-size: calcrem(80);
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1.6px;
    line-height: 90%; /* calcrem(72) */

    .mobile-screen({
      font-size: var(--font-size-xxxl);
      width: calcrem(200);
      height: calcrem(124);
    });
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    justify-content: end;
  }

  &__modal {
    &__video {
      overflow: hidden;
      border-radius: var(--border-radius-default);
    }
  }
}
