/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  overflow: visible;
  /* 2 */
  height: 0;
  /* 1 */
  box-sizing: content-box;
  /* 1 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: local('HelveticaNeueCyr'), url(c0307693e561e43cb5c0.otf) format('opentype');
}
@font-face {
  font-family: HelveticaNeueCyr-Light;
  src: local('HelveticaNeueCyr-Light'), url(44ebfa09987841241499.otf) format('opentype');
}
@font-face {
  font-family: HelveticaNeueCyr-UltraLight;
  src: local('HelveticaNeueCyr-UltraLight'), url(ee85bd92152d792a8ec7.otf) format('opentype');
}
@font-face {
  font-family: Oswald;
  src: local('Oswald'), url(3586ec851b78bbb713be.ttf) format('truetype');
}

html {
  font-family: HelveticaNeueCyr, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
}
.page__block {
  position: relative;
  z-index: 0;
}
.page__block_main {
  display: flex;
  height: 712px;
  align-items: flex-end;
  background: linear-gradient(90deg, rgba(32, 32, 32, 0.4) 49.04%, rgba(32, 32, 32, 0) 100%), url(da905fb5aa48fa92471b.png) lightgray 50% / cover no-repeat;
}
.page__block_links {
  background: #DB1933;
}
.page__block_offer {
  overflow: hidden;
}
.page__block_offer::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: -450px;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  content: ' ';
  background-color: #202020;
  mask-image: url(e505203032cbdc321fec.svg);
  mask-size: 600px, 600px;
  mask-position: center;
  mask-repeat: no-repeat;
}
.page__block_welcome {
  /* Чтобы шум не убегал за границы блока */
  overflow: hidden;
  height: 344px;
  background: url(b7530e08fa4937ef447a.png) lightgray 50% / cover no-repeat;
}
.page__block_cases {
  background: #78516C;
}
.page__block_teachers {
  background: #202020;
}
.page__block_review {
  background: #202020;
}
.page__block_video {
  background: #202020;
}
.page__block_footer {
  position: relative;
  background-color: #DB1933;
}
.page__block_footer::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 45% 100%;
  content: ' ';
  background-color: #ffffff1a;
  mask-image: url(e505203032cbdc321fec.svg);
  mask-size: 60%, 60%;
  mask-position: center;
  mask-repeat: no-repeat;
}
.page__block_bottom {
  background-color: #202020;
}
.page__content {
  padding: 70px 100px;
}
.page__content_centered {
  max-width: 1024px;
  margin: 0 auto;
}
.page__content_small {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  padding: 20px 10px;
  gap: 10px;
}
.page__content_video {
  padding: 10px 0;
}

/* Анимация шума */
@keyframes animation-noise {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
.noise {
  position: absolute;
  z-index: 1;
  width: 200%;
  height: 200vh;
  animation: animation-noise 0.2s infinite;
  background: transparent url(1690cd3defa001b4f87e.png) repeat 0 0;
  inset: -50%;
  opacity: 0.9;
  visibility: visible;
}

.block-main {
  height: 100%;
  color: #FFF;
}
.block-main__header {
  margin-bottom: 35px;
  font-size: 92px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -1.84px;
  line-height: 90%;
  /* 82.8px */
}
.block-main__counter {
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 90px 0 70px 210px ;
  gap: 30px;
}
.block-main__counter__count-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-main__counter__count {
  font-family: Oswald, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.block-main__counter__persons {
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-align: center;
}
.block-main__counter__text {
  width: 229px;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-align: center;
}
.block-main__preview {
  display: flex;
  gap: 69px;
}
.block-main__preview__text {
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 90%;
}

.block-links {
  color: #FFF;
  font-family: HelveticaNeueCyr-UltraLight, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 90%;
}
.block-links a {
  color: #FFF;
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.block-offer {
  display: flex;
  gap: 50px;
}
.block-offer__text {
  width: 380px;
  color: #202020;
  font-family: HelveticaMedium, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -1.44px;
  line-height: 90%;
  /* 64.8px */
}
.block-offer__image {
  z-index: 1;
  position: relative;
  height: 275px;
  flex-grow: 1;
  border: 10px solid #202020;
  border-radius: 30px;
  background: url(1b5bf75b97d8be546abe.png) lightgray 50% / cover no-repeat;
}
.block-offer__image__text {
  position: absolute;
  top: -48.418px;
  left: -80px;
  width: 154px;
  padding: 25px 30px;
  border-radius: 30px;
  background: #202020;
  color: #FFF;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.block-welcome {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.block-welcome__text {
  display: flex;
  width: 503.5px;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -1.6px;
  line-height: 90%;
  /* 72px */
}
.block-welcome__button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.block-faq {
  display: flex;
  gap: 10px;
}
.block-faq__image {
  width: calc(50% - 5px);
  height: 517.5px;
  flex: 1 0 0;
  border-radius: 30px 30px 0;
  background: url(2dc88f31e04c4066ae21.png) lightgray 50% / cover no-repeat;
}
.block-faq__content {
  display: flex;
  width: calc(50% - 5px);
  flex-direction: column;
  justify-content: center;
}
.block-faq__content__title {
  width: 300px;
  margin-bottom: 50px;
  color: #202020;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
}

.block-cases__top {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
}
.block-cases__title {
  margin-bottom: 60px;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  /* 43.2px */
}
.block-cases__text {
  width: 429px;
  margin-bottom: 60px;
  color: #FFF;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 28.8px */
}
.block-cases__cards {
  display: flex;
  overflow: hidden;
  flex-flow: row nowrap;
  padding: 50px;
  margin: -50px -100px;
  gap: 40px;
}
.block-cases__card {
  position: relative;
  overflow: hidden;
  width: 360px;
  min-width: 360px;
  height: 360px;
  border: 10px solid #FFF;
  border-radius: 30px;
  background: lightgray 50% / cover no-repeat;
  background-size: cover;
}
.block-cases__card__title {
  margin-bottom: 10px;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  /* 28.8px */
}
.block-cases__card__text {
  color: #FFF;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  /* 16.2px */
}
.block-cases__card__info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  color: #fff;
}
.block-cases__card:hover .block-cases__card__info {
  background: linear-gradient(180deg, rgba(219, 25, 51, 0) 0%, rgba(219, 25, 51, 0.8) 100%);
}

.block-teachers__top {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
}
.block-teachers__title {
  margin-bottom: 90px;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  /* 43.2px */
}
.block-teachers__text {
  width: 429px;
  margin-bottom: 90px;
  color: #FFF;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 28.8px */
}
.block-teachers__cards {
  display: flex;
  overflow: hidden;
  flex-flow: row nowrap;
  padding: 50px;
  margin: -50px -100px;
  gap: 10px;
}
.block-teachers__card {
  position: relative;
  z-index: 1;
  width: 240px;
  min-width: 240px;
  border-radius: 30px;
  transition: scale 0.3s ease-in-out;
}
.block-teachers__card:hover {
  z-index: 2;
  background: #DB1933;
  scale: 1.2;
}
.block-teachers__card__image {
  width: 240px;
  height: 240px;
  border-radius: 30px;
  background: lightgray 50% / cover no-repeat;
}
.block-teachers__card__title {
  margin-bottom: 10px;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  /* 28.8px */
}
.block-teachers__card__text {
  color: #FFF;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  /* 16.2px */
}
.block-teachers__card__info {
  padding: 32px 36px 36px;
  color: #fff;
}

.block-tickets__top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #202020;
  gap: 20px;
}
.block-tickets__title {
  margin-bottom: 90px;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  /* 43.2px */
}
.block-tickets__text {
  width: 429px;
  margin-bottom: 90px;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 28.8px */
}
.block-tickets__tickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.ticket {
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.ticket__link {
  display: flex;
  width: 347px;
  height: 171px;
  flex-direction: column;
  padding: 20px 30px 30px;
  border-radius: 30px;
  background: linear-gradient(107deg, rgba(32, 32, 32, 0.8) -1.68%, rgba(32, 32, 32, 0) 100%);
  color: #FFF;
  text-decoration: none;
}
.ticket__link:hover {
  border-radius: 30px;
  background: linear-gradient(108deg, rgba(219, 25, 51, 0.8) 0%, rgba(219, 25, 51, 0) 99.51%) 50%;
  text-decoration: none;
}
.ticket__head {
  display: flex;
  justify-content: space-between;
}
.ticket__type {
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 550;
  letter-spacing: 4.8px;
  line-height: 100%;
  /* 12px */
}
.ticket__price {
  font-family: Oswald, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  /* 28.8px */
}
.ticket__empty {
  flex-grow: 1;
}
.ticket__title {
  margin-bottom: 10px;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  /* 28.8px */
}
.ticket__description {
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.block-review {
  position: relative;
}
.block-review__top {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
}
.block-review__bottom {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.block-review__title {
  margin-bottom: 60px;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  /* 43.2px */
}
.block-review__cards {
  display: flex;
  overflow: hidden;
  flex-flow: row nowrap;
  padding: 50px;
  margin: -50px -100px;
  gap: 10px;
}
.block-review__card {
  position: relative;
  overflow: hidden;
  width: 300px;
  min-width: 300px;
  height: 300px;
  border-radius: 30px;
  background: lightgray 50% / cover no-repeat;
  background-size: cover;
}

.block-partners__top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 100px;
}
.block-partners__title {
  margin-bottom: 50px;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  /* 43.2px */
}
.block-partners__logo {
  width: 257px;
  height: 90px;
  margin-bottom: 50px;
  background: url(8804640e60e95d7ad4bd.svg);
}
.block-partners__summary {
  display: block;
  width: 100%;
  margin-bottom: 70px;
  color: #202020;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 28.8px */
}
.block-partners__faq-title {
  margin-bottom: 50px;
  color: #202020;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  /* 43.2px */
}

.block-video {
  position: relative;
}
.block-video__top {
  margin-bottom: 10px;
}
.block-video__cards {
  display: flex;
  overflow: hidden;
  flex-flow: row nowrap;
  gap: 10px;
}
.block-video__card {
  position: relative;
  overflow: hidden;
  width: 300px;
  min-width: 300px;
  height: 300px;
  border-radius: 30px;
  background: lightgray 50% / cover no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  color: #FFF;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  flex-direction: column;
}
.footer__blocks {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.footer__block {
  min-width: calc(50% - 50px);
  width: calc(50% - 50px);
}
.footer__block-title {
  margin: 0 0 25px;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
}
.footer__list {
  padding: 0;
  margin: 0 0 40px;
  list-style: none;
}
.footer__list__item {
  margin-bottom: 15px;
}
.footer__list__item__title {
  margin: 0 0 5px;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.footer__list__item__link {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 18px */
  text-decoration: none;
}
.footer__list__item__link:hover {
  text-decoration: underline;
}
.footer__list__item__link_phone {
  font-family: Osvald, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  /* 28.8px */
}
.footer__payment-logo {
  width: 90px;
  height: 24px;
  margin-bottom: 20px;
  background-image: url(902f6a3b08bf5304922f.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__links__link {
  font-family: HelveticaNeueCyr, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.footer__links__icons {
  display: flex;
  gap: 24px;
}
.footer__links__icon {
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__links__icon_tg {
  background-image: url(ed8827044818b53276ff.svg);
}
.footer__links__icon_yt {
  background-image: url(e3c2909f58c87c8adafd.svg);
}
.footer__links__icon_vk {
  background-image: url(3222d818060c1f3ace96.svg);
}

.buy-button {
  display: flex;
  height: 95px;
  align-items: center;
  padding: 0 30px 0 38px;
  border: none;
  border-radius: 70px;
  appearance: none;
  background: #DB1933;
  box-shadow: 0 4px 54px 0 rgba(0, 0, 0, 0.25);
  gap: 10px;
  text-decoration: none;
}
.buy-button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 12px 22px;
  border-left: 2px dashed #FFF;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  gap: 10px;
  letter-spacing: -0.44px;
  line-height: 90%;
  /* 19.8px */
  text-align: left;
  text-transform: uppercase;
}

.block-bottom {
  color: #FFFFFF;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
}

.list {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 30px;
  gap: 2px;
}
.list__question {
  position: relative;
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  padding: 20px 20px 20px 30px;
  background: #78516C;
  color: #FFF;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
}
.list__question::after {
  display: block;
  width: 20px;
  height: 20px;
  padding: 20px;
  background-image: url(7b3fde5007595c182aa0.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  cursor: pointer;
}
.list__question_opened {
  background: #DB1933;
}
.list__question_opened::after {
  transform: rotate(180deg);
}
.list__answer {
  overflow: hidden;
  max-height: 0;
  box-sizing: border-box;
  color: #000;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 21.6px */
  transition: max-height 0.2s linear;
}
.list__answer__content {
  padding: 20px 20px 20px 30px;
}
.list__answer_opened {
  max-height: 1000px;
}

.horizontal-scroll {
  position: relative;
}
.horizontal-scroll__control {
  position: absolute;
  z-index: 100;
  top: calc(50% - 64px);
  width: 64px;
  height: 64px;
  padding: 20px;
  background-image: url(7b3fde5007595c182aa0.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.horizontal-scroll__control:hover {
  opacity: 1;
}
.horizontal-scroll__control_right {
  right: 0;
  transform: rotate(-90deg);
}
.horizontal-scroll__control_left {
  left: 0;
  transform: rotate(90deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  position: fixed;
  z-index: 200;
  width: 100%;
  min-height: 300px;
  animation: fadeIn 2s ease-in-out forwards;
  background: #0000;
  transition: all 0.2s ease-in-out;
}
.header_scrolled {
  min-height: 30px;
  backdrop-filter: blur(5px);
  background: rgba(219, 25, 51, 0.8);
  transition: all 0.4s ease-in-out;
}
.header__content_centered {
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  padding: 0 100px;
  margin: 0 auto;
}
.header__logo {
  position: relative;
}
.header__logo__agu {
  position: absolute;
  top: 130px;
  left: -59px;
  width: 138px;
  height: 20px;
  background: url(a2d8e773b5c1044251c6.svg) no-repeat;
  background-size: contain;
  transition: all 0.3s linear;
}
.header__logo__agu_scrolled {
  top: 20px;
  width: 99px;
}
.header__logo__arcs {
  position: absolute;
  top: 60px;
  left: -27px;
  width: 213px;
  height: 213px;
  background-image: url(915d7eef96ff72290c7d.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s linear;
}
.header__logo__arcs_scrolled {
  top: 11px;
  left: 24px;
  width: 47px;
}
.header__logo__family {
  position: absolute;
  top: 153px;
  left: 0;
  width: 76px;
  height: 11px;
  background: url(afd3f59dccf771e7a1d8.svg) no-repeat;
  background-size: contain;
  transition: all 0.3s linear;
}
.header__logo__family_scrolled {
  top: 37px;
  left: -58px;
  width: 50px;
}
.header__logo__forum {
  position: absolute;
  top: 170px;
  left: 29px;
  width: 47px;
  height: 11px;
  background: url(2d30871e5646060c29e2.svg) no-repeat;
  background-size: contain;
  transition: all 0.3s linear;
}
.header__logo__forum_scrolled {
  top: 38px;
  left: -6px;
  width: 30px;
}
.header__links {
  display: flex;
  padding: 10px 0;
  gap: 20px;
}
.header__link {
  display: block;
  width: 50px;
  height: 50px;
}
.header__link_menu {
  background: url(276d9304ff6563bf2ea4.svg) no-repeat;
  background-size: contain;
}
.header__link_cart {
  background: url(bb665c734e3f01b0270c.svg) no-repeat;
  background-size: contain;
}
.header__link_lk {
  background: url(7354175774cc0e7d6529.svg) no-repeat;
  background-size: contain;
}

