:root {
  --color-white: #FFF;
  --color-black: #000;
  --color-danger: #DB1933;
  --color-primary: #78516C;
  --color-secondary: #202020;
  --font-main: helveticaneuecyr, sans-serif;
  --font-light: helveticaneuecyr-light, sans-serif;
  --font-ultra-light: helveticaneuecyr-ultralight, sans-serif;
  --font-bold: helveticaneuecyr-bold, sans-serif;
  --font-heawy: helveticaneuecyr-heawy, sans-serif;
  --font-oswald: oswald, sans-serif;
  --font-color-dark: #202020;
  --font-color-light: #fff;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 22px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 48px;
  --font-size-xxxxxl: 72px;
  --font-size-xxxxxxl: 92px;
  --border-radius-default: 30px;
  --border-radius-large: 70px;
  --mobile-break-point: 768px;
  --tablet-break-point: 1024px;
}
