@import url("../../common/adaptive");

.block-offer {
  display: flex;
  gap: 50px;

  .mobile-screen({
    flex-direction: column;
    gap: 30px;
  });

  &__text {
    width: 380px;
    color: #202020;
    font-family: HelveticaMedium, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1.44px;
    line-height: 90%; /* 64.8px */;

    .mobile-screen({
      width: auto;
      font-size: 32px;
    });
  }

  &__image {
    position: relative;
    z-index: 1;
    height: 275px;
    flex-grow: 1;
    border: 10px solid #202020;
    border-radius: 30px;
    background: url('../../images/2-block.png') lightgray 50% / cover no-repeat;

    .mobile-screen({
      margin-left: 90px;
      height: 223px;
      border: 6px solid #202020;
    });

    &__text {
      position: absolute;
      top: -48.418px;
      left: -80px;
      width: 154px;
      padding: 25px 30px;
      border-radius: 30px;
      background: #202020;
      color: #FFF;
      font-family: HelveticaNeueCyr-Light, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;

      .mobile-screen({
        box-sizing: border-box;
        font-size: 14px;
        width: 163px;
        height: 98px;
        opacity: 1;
        padding: 15px 20px;
        border-radius: 30px;
        top: -10px;
        left: -98px;
        line-height: 120%;
      });
    }
  }
}
