@import url("../../common/adaptive");

.block-faq {
  display: flex;
  gap: 10px;

  .tablet-screen({
    flex-direction: column;
    gap: 0;
  });

  &__image {
    width: calc(50% - 5px);
    height: 517.5px;
    flex: 1 0 0;
    border-radius: var(--border-radius-default) var(--border-radius-default) 0;
    background: lightgray 50% / cover no-repeat;

    .tablet-screen({
      min-width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      border-radius: var(--border-radius-default);
      margin-bottom: 40px;
    });
  }

  &__content {
    display: flex;
    width: calc(50% - 5px);
    flex-direction: column;
    justify-content: center;

      &__title {
        width: 300px;
        padding-left: 70px;
        margin-bottom: 50px;
        color: var(--font-color-dark);
        font-family: var(--font-main);
        font-size: var(--font-size-xxxxl);
        font-style: normal;
        font-weight: 900;
        line-height: 90%;

        .mobile-screen({
          font-size: var(--font-size-xxxl);
          margin-bottom: 30px;
          padding-left: 0;
        })
      }

      &__list {
        border-radius: 0 var(--border-radius-default) var(--border-radius-default)!important;
        .mobile-screen({
          border-radius: var(--border-radius-default)!important;
        })
      }

    .tablet-screen({
      width: 100%;
    })
  }
}
